
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.transition-opacity {
    
    animation: increaseOpacity 0.5s ease-in;
}
@keyframes increaseOpacity {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

#chat-area div {
    border-radius: 1rem;
    max-width: 80%;
    
}
#chat-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#chat-area::-webkit-scrollbar {
    display: none;
}

#chat-area>.user {
    text-align: justify;
    margin-left: auto;
}

#chat-area .next-possible-questions p {
    background-color: #ffffff;
    color: #333;
    padding: 0.50rem 0.50rem 0.50rem 0.50rem;
    border-radius: 1rem;
    border: 1px dotted gray;
}
.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
  }